discord.py==2.4.0
numpy==2.0.0
matplotlib==3.9.1
GitPython==3.1.43
xmltodict==0.13.0
psutil==6.0.0
pypiwin32==223
watchdog==4.0.1
aiohttp==3.9.5
aiofiles==24.1.0
rich==13.7.1
minidump==0.0.23
certifi==2024.7.4